!!!
%html
  %head
    %title Lyrics Search 
    %link{:rel => "stylesheet", :href => "views/style.css", :type => "text/css", :media => "all"}
  %body
    %h1 Search for Lyrics 
    %form{ :action => "", :method => "post"}
      %input{:type => "text", :name => "query", :class => "text"}
      %input{:type => "submit", :value => "Search", :class => "button"}
    %h2=@title
    -@lyrics.each do |line|
      
